.attractions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.attractions-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  &--map {
    width: 100%;
  }

  &--list {
    width: 30%;
    display: none;
  }
}

.feature-details__container {
  --border-radios: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25vw;
  background: white;
  border-bottom-left-radius: var(--border-radios);
  border-top-left-radius: var(--border-radios);
  padding: 20px 30px;
}
