@import "https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.css";
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: width .3s ease,
              height .3s ease;

  &:hover {
    width: 60px;
    height: 60px;
    z-index: 1;
  }
}

.map {
  &__balloon-button {
    margin-top: 15px;
  }
}
