.gallery {
  &__year {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &-title {
      font-size: 20px;
      font-weight: bold;
      text-align: left;
    }
  }

  &__image {
    max-height: 150px;
    height: auto;
    width: auto;
    cursor: pointer;

    &--popup {
      max-width: 70vw;
      max-height: 70vh;
      width: 100%;
      height: auto;
    }

    &-wrapper {
      border: 1px solid #2c3e50;
      border-radius: 12px;
      overflow: clip;
      display: flex;
      flex-direction: column;


      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
