.form {
  background: #d7d7d7;
  border-radius: 12px;
  padding: 30px;
}

.flex {
  display: flex;
}

.list-view {
  display: flex;

  &--vertical {
    flex-direction: column;
  }

  &--horizontal {
    flex-direction: row;
  }
}
